*.stormc
*.sasm

settings.json

compiled/

configure
compile
*.m4
*.in
depcomp
install-sh
missing
*.log
*.status
autom4te.cache/
.deps
*.o
/build/storm
!/Storm/
/build/stormcompiler
!/stormcompiler/
/build/stormrun
!/stormrun/
.dirstamp
Makefile

.vs
*Properties.json
*.user
x64/
x86/

.vscode